! special
*.foreground:   #ffffff
*.background:   #2e3440
*.cursorColor:  #ffffff

! black
*.color0:       #2e3440
*.color8:       #707f9c

! red
*.color1:       #84d498
*.color9:       #84d498

! green
*.color2:       #1cfa67
*.color10:      #1cfa67

! yellow
*.color3:       #85fa8d
*.color11:      #85fa86

! blue
*.color4:       #1aa662
*.color12:      #1aa662

! magenta
*.color5:       #23ff77
*.color13:      #23ff77

! cyan
*.color6:       #50fa7b
*.color14:      #50fa7b

! white
*.color7:       #707f9c
*.color15:      #ffffff

! set font
URxvt.font: xft:iosevka:size=10

! remove scroll bar
URxvt.scrollBar: false

! add margin
URxvt.internalBorder: 20


rofi.modi:window,drun,run

rofi.fullscreen: true
rofi.padding: 350

 rofi.font:	Iosevka 12

rofi.separator-style: none
rofi.hide-scrollbar: true
rofi.bw: 0

rofi.display-drun: run
rofi.display-run: exec

rofi.terminal: urxvt

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:d42e3440, argb:0000000, #1aa662
rofi.color-normal: argb:1000000, #84d498, argb:0000000, #23ff77, #2e3440
rofi.color-active: argb:0000000, #50fa7b, argb:0000000, #85fa86, #2e3440
rofi.color-urgent: argb:0000000, #1aa662, argb:0000000, #1aa662, #2e3440
